<div class="contents">
  <h1><%= @grade.qualification&.name_ja %></h1>
  <%= link_to "#{Qualification.model_name.human}#{I18n.t('labels.detail')}", qualification_path(@grade.qualification) %>
  <%= render partial: "form", locals: { grade: @grade, url: qualification_grades_url } %>
  <%= link_to "#{Qualification.model_name.human}#{I18n.t('labels.detail')}", qualification_path(@grade.qualification) %>
</div>
