<div class="contents">
  <h1><%= Qualification.model_name.human %></h1>
  <%= link_to I18n.t('labels.index'), qualifications_path %>
  <%= render partial: "form", locals: { qualification: @qualification } %>
  <%= link_to I18n.t('labels.index'), qualifications_path %>
</div>
