<div class="contents">
  <h1><%= Qualification.model_name.human %></h1>
  <%= link_to '一覧画面', qualifications_path %>
  <%= render partial: "form", locals: { qualification: @qualification } %>
  <%= link_to '一覧画面', qualifications_path %>
</div>
