<div class="contents">
  <h1><%= Examiner.model_name.human %></h1>
  <%= link_to I18n.t('labels.index'), examiners_path %>
  <%= render partial: "form", locals: { examiner: @examiner } %>
  <%= link_to I18n.t('labels.index'), examiners_path %>
</div>
