body 
{
  margin: 0 0 0 0;
  background-color:aliceblue
}
table
{
  width: 100%;
}
table tr td, th
{
  border: 1px solid black;
}
h1
{
  text-align: center;
}
address
{
  color: white;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border: 1px dotted bisque;
}
.main
{
  float: left; 
  padding: 0 0 0 0;
  width: 80%;
}
.contents {
  width: auto;
  margin-left: 2em;
}
.even 
{
  background-color: #FFF0F0;
}
.odd
{
  background-color: #FFFFF0;
}
.text_field
{
  width: 90%;
}
.text_area
{
  width: 90%;
  height: 10em;
}
.submit_button
{
  width: 8em;
  height: 2.5em;
  font-weight: bold;
}
.alert
{
  color: red;
}
.notice
{
  color: blue;
}
.messages
{
  font-weight: bold;
}
.borderless
{
  border: none;
}
.menu_area
{
  width: 10em; 
  float:left;
  background-color: blueviolet;
}
.menu_title
{
  font-size: 1.2em;
  text-align: center;
  margin: 0 0 0 0;
  color: white;
  border: 1px solid bisque;
}
.menu_list
{
  margin: 0 0 0 0;
  list-style-type: none;
  padding-inline-start: 0; 
  margin-block-start: 0; 
  list-style: none;
}
.menu_item
{
  color: white;
  border: 1px solid bisque;
  text-align: center;
}
.menu_item a:link
{
  color: white;
  text-decoration: none;
}
.menu_item a:visited
{
  color: white;
  text-decoration: none;
}
.menu_item a:hover
{
  color: white;
  text-decoration: none;
}
.menu_item a:active
{
  color: white;
  text-decoration: none;
}
