body 
{
  background-color:aliceblue
}
table
{
  width: 80%;
}
table tr td, th
{
  border: 1px solid black;
}
h1
{
  text-align: center;
}
.contents {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.even 
{
  background-color: #FFF0F0;
}
.odd
{
  background-color: #FFFFF0;
}
.text_field
{
  width: 90%;
}
.text_area
{
  width: 90%;
  height: 10em;
}
.submit_button
{
  width: 8em;
  height: 2.5em;
  font-weight: bold;
}
.alert
{
  color: red;
}
.notice
{
  color: blue;
}
.messages
{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}
.borderless
{
  border: none;
}
