<h2 class="menu_title">メニュー</h2>
<ul class="menu_list">
  <li class="menu_item"><a href="/qualifications">資格一覧</a></li>
  <% (1..20).each do %>
    <li class="menu_item">&nbsp;</li>
  <% end %>
</ul>
