<h2 class="menu_title"><%= I18n.t('menu.title') %></h2>
<ul class="menu_list">
  <li class="menu_item"><a href="/qualifications"><%= I18n.t('menu.items.qualification') %></a></li>
  <li class="menu_item"><a href="/categories"><%= I18n.t('menu.items.category') %></a></li>
  <% (1..10).each do %>
    <li class="menu_item">&#x1f6a7;<span style="color:yellow;">（工事中）</span></li>
  <% end %>
</ul>
<address>
  jiu3bao3&nbsp;(K. Y.)<br />
</address>
